/*
 * CUSTOM.CSS
 * FOR VIRKKALADEVOCHT.FI
 * BY TUOMOPEKKA.GITHUB.IO
 */
 
/* TYPOGRAPHY */

.h1,
h1
 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 1px;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 25px;
}

/* SEARCH */

.gsc-control-cse .gsc-table-result {
  font-family : inherit;
}

.gsc-control-cse .gsc-input-box {
  height : inherit;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button, input.gsc-search-button-v2 {
  box-sizing  : content-box;
  line-height : normal;
  margin-top  : 0px;
}

.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
    padding-left: 0px;
    padding-right: 0px;
}